.main_section {
  background-color: #fff;
}

.text_area {
  margin-top: 90px;
  margin-left: 100px;
}

.text_area .title {
  font-size: 30px;
  margin-bottom: 85px;
  color: #141414;
}

.text_area h1 {
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  margin-bottom: 20px;
  color: #141414;
}

.text_area .line {
  width: 500px;
  height: 1px;
  background-color: #ffe6cf;
  display: inline-block;
  position: relative;
  top: -35px;
  left: 30px;
  opacity: 0.2;

}

.text_area .name {
  font-size: 100px;
  line-height: 1;
  color: #000;
}

.text_area .introduce {
  font-size: 25px;
  color: #000;
}

.circle_wrapper {
  position: relative;
  margin-top: 42px;
  padding-right: 100px;
}

.circle {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  position: absolute;
}

.circle:nth-child(1) {
  width: 500px;
  height: 500px;
  background-color: transparent;
  border: 1px solid rgba(192, 192, 192, 0.3);
  top: -320px;
  right: 300px;
  animation: ball1-1 3s linear infinite alternate;
}

.circle:nth-child(2) {
  background-color: #ffc000;
  top: -50px;
  right: 200px;
  animation: ball1-2 3s linear infinite alternate;
}

.circle:nth-child(3) {
  opacity: 0.9;
  background-color: #fedd15;
  top: -300px;
  right: -300px;
  animation: ball1-3 4s linear infinite alternate;
}


@keyframes ball1-1 {

  0% {
    right: 300px;
    top: -320px;
  }

  50% {
    right: 300px;
    top: -340px;
  }

  100% {
    right: 300px;
    top: -360px;
  }
}

@keyframes ball1-2 {

  0% {
    right: 200px;
    top: -50px;
  }

  50% {
    right: 220px;
    top: -50px;
  }

  100% {
    right: 240px;
    top: -50px;
  }
}

@keyframes ball1-3 {

  0% {
    right: -300px;
    top: -300px;
  }

  50% {
    right: -280px;
    top: -250;
  }

  100% {
    right: -250px;
    top: -240px;
  }
}