.featured {
  height: 310px;
  background-color: #ffc000;
  position: relative;
}

.featured .title {
  margin-bottom: 25px;
}

sup {
  font-size: 20px;
}

.count {
  position: absolute;
  top: 30px;
  right: 100px;
  font-size: 30px;
}

.text_area {
  position: absolute;
  bottom: 50px;
  left: 100px;

}

.text_area .title {}

.text_area h1 {
  font-size: 50px;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 20px;
}


.text_area .desc {
  font-size: 15px;
}

.swiper {
  white-space: nowrap;
  overflow-x: scroll;
  padding: 50px 100px;
  padding-bottom: 30px;
}

.swiper li {
  width: 600px;
  height: 350px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 10px;
  margin-right: 30px;

}

.swiper li:nth-child(1) {
  background-image: url('/public/img/photoday.png');
}

.swiper li:nth-child(2) {
  background-image: url('/public/img/photoday.png');
}

.swiper li:nth-child(3) {
  background-image: url('/public/img/photoday.png');
}

.swiper li:nth-child(4) {
  background-image: url('/public/img/photoday.png');
  margin-right: 0;
}

.list {}

.item {
  display: flex;
  align-items: center;
  padding: 20px 100px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.08);
  position: relative;
}

.item::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.item:hover::after {
  background-color: rgba(0, 0, 0, 0.12);
}

.item .num {
  width: 40px;
  height: 40px;
  background-color: #ffe6cf;
  color: #485762;
  border-radius: 50%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 40px;

}

.item .infos {
  display: inline-block;
}

.item .title {
  font-size: 30px;
}

.item .desc {
  font-size: 18px;
  opacity: 0.7;
}