.project_container {
  padding: 80px 0;
  width: 1550px;
  margin: 0 auto;
  position: relative;
}

.title_area {
  display: flex;
}

.title_area h1 {
  font-size: 50px;
  color: #141414;
  position: relative;
  z-index: 0;
  margin-bottom: 20px;
}

.title_area h1::before {
  content: "";
  display: block;
  width: 100%;
  height: 30px;
  background-color: #ffc000;
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  left: 2px;
  z-index: -1;
}

.swiper_wrapper {
  width: 100%;
  height: 650px;
  display: flex;
  flex-wrap: nowrap;
}

.swiper {
  padding: 100px 150px;
  display: flex;
  justify-content: space-between;
}

.image {
  width: 900px;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 10px;
  box-shadow: 5px 5px 25px 10px rgba(0, 0, 0, 0.1);
}

.item {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 60px;
}


.item .infos {
  display: inline-block;
}

.item .subtitle {
  font-size: 15px;
  margin-bottom: 10px;
  color: #444;
  font-weight: 500;
}

.item .title {
  font-size: 50px;
  margin-bottom: 50px;
  color: #444;
  font-weight: 500;
}

.item .desc {
  font-size: 15px;
  margin-bottom: 5px;
}

.item .date {
  font-size: 15px;
  opacity: 0.3;
}

.item .skill {
  font-size: 15px;
  font-weight: normal;
  margin-bottom: 50px;
}