.featured {
  height: 170px;
  background-color: #7595a7;
  position: relative;
}

.featured .title {
  font-size: 45px;
  margin-bottom: 15px
}

sup {
  font-size: 20px;
}

.count {
  position: absolute;
  top: 30px;
  right: 100px;
  font-size: 30px;
}

.text_area {
  position: absolute;
  bottom: 50px;
  left: 100px;
}

.text_area .title {}

.text_area h1 {
  font-size: 50px;
  line-height: 1;
  font-weight: normal;
  margin-bottom: 20px;
}


.text_area .desc {
  font-size: 15px;
}

.swiper {
  white-space: nowrap;
  padding: 70px 100px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  justify-items: center;

}

.image {
  width: 450px;
  height: 250px;
  background-size: cover;
  background-position: center;
  display: inline-block;
  border-radius: 10px;
  margin-right: 30px;
}

.item {
  display: flex;
  align-items: center;
  padding: 10px 0;
  position: relative;
}


.item .infos {
  display: inline-block;
}

.item .title {
  font-size: 22px;
  margin-bottom: 5px;
}


.item .desc {
  font-size: 15px;
  margin-bottom: 10px;
  font-weight: bold;
}

.item .date {
  font-size: 13px;
  opacity: 0.3;
}

.card_wrapper {
  transition: 0.5s;
}

.card_wrapper:hover {
  transform: translateY(-2px);
}