* {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

.outer {
  height: 100vh;
  overflow: hidden;
}

.outer::-webkit-scrollbar {
  display: none;
}

.content {
  height: 100vh;
  overflow: hidden;
}

.content_flex {
  height: 100vh;
}


body {
  background-color: #485861;
  color: #fff;
  font-size: 11px;
  line-height: 1.2;
  font-weight: 500;
  overflow-x: hidden;
  margin: 0;
  overflow-y: hidden;
}

html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}


html {
  overflow-y: scroll;
  overflow-x: hidden;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
} */

body,
input,
textarea {
  font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
}

img {
  vertical-align: top;
  font-size: 0;
  border: 0;
}

table {
  border-collapse: collapse;
}

input,
select {
  vertical-align: middle;
}

.clear:after {
  content: '';
  display: block;
  clear: both;
}

.indent {
  display: block;
  text-indent: -9999px;
}

.hidden {
  display: none;
}

input {
  border: none;
  outline: none;
}

button {
  border: 0;
  background-color: transparent;
  cursor: pointer;
}

.mouse_effect {
  position: relative;
  overflow: hidden;
}

.mouse_effect::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  transition: 0.2s;
}

.mouse_effect:hover::after {
  background-color: rgba(0, 0, 0, 0.08);
}

.mouse_effect:active::after {
  background-color: rgba(0, 0, 0, 0.12);
}



@keyframes showText {
  from {
    opacity: 0;
    transform: translateY(10px);
    color: #ffc000;
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.stagger-wrapper {}

.stagger-item {

  animation: showText 0.5s;
  animation-fill-mode: both;

}

.stagger-item:nth-child(1) {
  animation-delay: 0.07s;
}

.stagger-item:nth-child(2) {
  animation-delay: 0.14s;
}

.stagger-item:nth-child(3) {
  animation-delay: 0.21s;
}

.stagger-item:nth-child(4) {
  animation-delay: 0.28s;
}

.stagger-item:nth-child(5) {
  animation-delay: 0.35s;
}